/* ATIVE */

/* .equipe {
    display: flex;
    
} */

/* ESPACE */

/* .equipe {
    display: flex;
    gap: 30px;
} */

/* DISTRIBUA */

.equipe {
     justify-content: flex-start;
     align-items: center;
     justify-content: space-between;
     justify-content: space-evenly;
     align-items: flex-end;
}

